.preview{
    background-color: rgba(196, 195, 195, 0.863);
    z-index: 100;
    position: absolute;
    width: 50%;
    margin-left: 50%;
    padding-left: 10px;

}

.navbarmask
{
  content: "*";
    min-height: 60px;
  
}