<div class="container mafiche">
  <div class="row" [ngStyle]="{'background-color':'hsl('+this.data.bpm+',50%,50%)'}">
    <div class="col-4">
      <img [src]="imageSource" (mouseenter)="onHover('enter')" (mouseleave)="onHover('leave')">

    </div>
    <div class="col-8">
      <h1>{{data.title}}</h1>
      <h2>{{data.artist.name}}</h2>
      <h4>{{data.release_date | date:"MMMM yyyy"}}</h4>
    </div>
  </div>
</div>